.#{$la-css-prefix}-laravel:before { content: $la-var-laravel; }
.#{$la-css-prefix}-digitalocean:before { content: $la-var-digitalocean; }
.#{$la-css-prefix}-forge:before { content: $la-var-forge; }
.#{$la-css-prefix}-fleur-de-lys:before { content: $la-var-fleur-de-lys; }
